body {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #4E4E4E;
    background-color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
   position: absolute; 
   top: 0;
   left: 0;
   width: 100%;
   height: 95px;
   z-index: 1000;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 23px;
}

.nav__link {
    position: relative;
    margin: 0 50px;
    display: inline-block;
    font-weight: 500;
    color: #ccc;
    text-decoration: none;
    transition: color .2s linear;
}

.nav__link::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
}

.nav__link:hover {
    color: #FFFFFF
}

.nav__link:hover::after,
.nav__link.active::after {
    opacity: 1;
}

.nav__link.active {
    color: #FFFFFF;
}

.nav__link-logo {
    margin: 0 50px;
}

.logo {
    opacity: 1;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
   width: 100%;
   
   background: url("./assets/bg-image.jpg") center no-repeat;
   background-size: cover; 
}

.intro__inner {
    width: 100%;
    max-width: 735px;
    margin: 230px auto 0;
    text-align: center;
    color: #FFFFFF;
}

.intro__title {
    font-size: 64px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 4.5px;
    text-transform: uppercase;
}

.intro__text {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 15px 47px;
    background-color: #00AFDB;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 180px;
}

.btn:hover {
    background: #009CC2;
    transition: .5s;
}

.social {
    margin-bottom: 88px;
}

.social__item {
    margin-right: 30px;
}

.social__item:last-child {
    margin-right: 0;
}

.social__icon:hover {
    background: #009CC2;
    border-radius: 50%;
    transform: scale(1.8);
    transition: .5s;
}

.rappresent {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.rapresent__item {
    max-width: 408px;
}

.section__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
    align-items: flex-end;
    letter-spacing: 1px;
    color: #373737;
    text-transform: uppercase;
}

.section__newsletter {
    background: url("./assets/bg-section-newsletter.jpg") center no-repeat;
    background-size: cover;
}

.sign__up {
    padding: 217px 0 277px;
    text-align: center;
}

.check {
    color:#FFFFFF;
}

.footer {
    background: #000000;
    height: 185px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}

.footer__nav-link {
    position: relative;
    margin: 0 20px;
    display: inline-block;
    color: #ccc;
    text-decoration: none;
}

.footer__nav-link::after {
    content: '';
    display: block;
    width: 1px;
    height: 8px;
    background: #4E4E4E;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}